{% extends 'FreedAM_app/templates/FreedAM_app/base.html' %}

{% load static %}
{% block pagetitle %}FreedAM Calculator{% endblock pagetitle %}

{% block content %}

<center>
  <p></p><br>
    <p></p><br>

<!--     title at top of page -->  
    <h1 class="mx-auto my-0 text-dark">FreedAM Calculator</h1>

<!--  group of cards -->      
      <div class="card-group">

        
        <div class="card">
            <img style="max-height:1000px;max-width: 500px" src="{% static '/images/cute-happy-young-man-wheelchair-isolated-white-background-smiling-male-character-physical-disability-impairment-131482717_front.jpg' %}" class="card-img">
            <img style="max-height:1000px;max-width: 500px" src="{% static '/images/cute-happy-young-man-wheelchair-isolated-white-background-smiling-male-character-physical-disability-impairment-131482717_side.jpg' %}" class="card-img">            
        </div>

        <div class="card">
          <h2>Enter some measurements to get started</h2>
          <br>
            <error>{{form_errors}}</error>
            {{ frame_input_form.non_field_errors }}
            {{ frame_input_form.field_name.errors }}                    
            {{ frame_input_form.errors }} 
            {{ frame_input_form.id }} 
              {% for hidden in frame_input_form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}    
            <section id="form" class="mt-5">

              <form method = 'POST' action="{% url 'FreedAM_app:calculator_home' %}"  enctype="multipart/form-data">{% csrf_token %}
                <table class="table">
                  {{frame_input_form.as_table}}
                </table>
               <input type="submit" id="submit_button" class="btn btn-success">
              </form>

            </section>

        </div>   

      </div>
</center>
{% endblock content %}
{% block bottom %}

{{block.super}}
<script>
  AOS.init();
</script>
<script type="text/javascript">
  !function(e){"use strict";e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){var a=e(this.hash);if((a=a.length?a:e("[name="+this.hash.slice(1)+"]")).length)return e("html, body").animate({scrollTop:a.offset().top-70},1e3,"easeInOutExpo"),!1}}),e(".js-scroll-trigger").click(function(){e(".navbar-collapse").collapse("hide")}),e("body").scrollspy({target:"#mainNav",offset:100});var a=function(){100<e("#mainNav").offset().top?e("#mainNav").addClass("navbar-shrink"):e("#mainNav").removeClass("navbar-shrink")};a(),e(window).scroll(a)}(jQuery);
</script>
<script type="text/javascript">
$(document).ready(function() { 
  // for each error message make text bold and red
    $("error" ).each(function( i ) {
  console.log(this)
     this.style.color = "red";
     this.style.fontWeight = "bold";      
      });  
    // test csrf safety
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    //get cookie for csrf token
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue; 
                }     

    // for all input fields make help text bold when hovered over
    $("input").hover(function( i ) {
          $(this).parent().css("fontWeight", 800)
      });        
                    
});

</script>
{% endblock bottom %}