{% extends 'FreedAM_app/templates/FreedAM_app/base.html' %}

{% load static %}
{% block pagetitle %}FreedAM{% endblock pagetitle %}

{% block content %}

<!--     <header class="masthead mb-3" style="background-image: url('/static/images/kuschchamp_cv01_alu-85-frame-ivory-white-with-cps-artic-blue_18804981726_o.jpg')">
      <div class="container d-flex h-100 align-items-center">
        <div class="text-center float-left">
          <h1 class="mx-auto my-0 text-dark">FreedAM Calculator</h1>
          <a href="#form" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header> -->

<center>
    <p></p><br>
    <p></p><br>
    <h1 class="mx-auto my-0 text-dark">Select options</h1>
        <h3 class="mx-auto my-0 text-dark">{{measurements.your_name}}'s chair</h3>


      <div class="card-group">

        <div class="card">
            <img style="max-height:1000px;max-width: 500px" src={{front_image_location}} class="card-img">   
            <img style="max-height:1000px;max-width: 500px" src={{right_image_location}} class="card-img">                                 
        </div>

        <div class="card">
          <br>
            <error>{{form_errors}}</error>
            {{ accessories_form.non_field_errors }}
            {{ accessories_form.field_name.errors }}                    
            {{ accessories_form.errors }} 
              {% for hidden in accessories_form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}    
            <section id="form" class="mt-5">

              <form method = 'POST' action="{% url 'FreedAM_app:calculator_home' %}"  enctype="multipart/form-data">{% csrf_token %}
                <table class="table">
                  {{accessories_form.as_table}}
                </table>
               <input type="submit" id="submit_button" class="btn btn-success">

              </form>
              
            </section>

        </div>   
        
        <div class="card">
            <img style="max-height:1000px;max-width: 500px" src="{% static '/images/31w2-cuKsIL.jpg' %}" class="card-img">   
            <img style="max-height:1000px;max-width: 500px" src="{% static '/images/Picture1.png' %}" class="card-img">   
           
        </div>
      </div>
</center>
{% endblock content %}
{% block bottom %}

{{block.super}}
<script>
  AOS.init();
</script>
<script type="text/javascript">
  !function(e){"use strict";e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){var a=e(this.hash);if((a=a.length?a:e("[name="+this.hash.slice(1)+"]")).length)return e("html, body").animate({scrollTop:a.offset().top-70},1e3,"easeInOutExpo"),!1}}),e(".js-scroll-trigger").click(function(){e(".navbar-collapse").collapse("hide")}),e("body").scrollspy({target:"#mainNav",offset:100});var a=function(){100<e("#mainNav").offset().top?e("#mainNav").addClass("navbar-shrink"):e("#mainNav").removeClass("navbar-shrink")};a(),e(window).scroll(a)}(jQuery);
</script>
{% endblock bottom %}