{% extends 'FreedAM_app/templates/FreedAM_app/base.html' %}

{% load static %}
{% block pagetitle %}The FreedAM Project{% endblock pagetitle %}




{% block content %} 
  <p></p><br>
    <p></p><br>
<div class="mb-0 jumbotron jumbotron-fluid bg-info text-light">
  <div class="container">
    <img class="mb-5 d-block mx-auto float-left" data-aos = "fade-right" data-aos-delay="2000" data-aos-duration="1000" src="{% static '/images/bootstrap-stack.png' %}" style="max-height: 200px; margin-top: 100px;padding-bottom: 100px">  
    <h1 class="display-4">The FreedAM Project</h1>
  </div>
</div>
CARDS?

{% endblock content %}