FreedAM/FreedAM_app/views.pyc
FreedAM/FreedAM_app/urls.pyc
FreedAM/FreedAM_app/models.pyc
FreedAM/FreedAM_app/migrations/0003_auto_20190227_1919.pyc
FreedAM/FreedAM_app/migrations/0002_auto_20190227_1833.pyc
FreedAM/FreedAM_app/forms.pyc
FreedAM/FreedAM_app/admin.pyc
